[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "cancun"
solc = "0.8.24"

remappings = [
    '@openzeppelin/contracts=lib/openzeppelin-contracts/contracts',
    'erc4626-tests/=lib/openzeppelin-contracts/lib/erc4626-tests/',
    'forge-std/=lib/forge-std/src/',
]


[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
